@media (min-width: 320px) and (max-width: 767px){ 

h2.heading-team {
    font-size: 25px;
}
.main-fame-img {
    padding-bottom: 50px;
}
.heading-explore h2 {
    font-size: 34px;
}
.heading-fame h4 {
    font-size: 26px;
    font-weight: 700;
}
.wpb_wrapper h1 {
    font-size: 30px;
}
.wpb_wrapper h2 {
    font-size: 34px;
}   
.main-box-clutch {
    padding-bottom: 10px;
}
.main-slider {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main-heading-business h2 {
    font-size: 30px;
}
.main-heading-business h3{
    font-size: 22px;
}
.mcCain-content {
    margin-bottom: 20px;
}
a.read-star-btn {
    padding: 18px 20px;
}
.main-impressed-box{
    margin-bottom: 25px;
}
.main-impressed-boxx{
    margin-bottom: 25px;
}
h2.scrolling {
    font-size: 6vh;
}
.back-image{
    margin-top: 32px;
}
img.upcity-img{
    width: 80%;
}
.main-slider {
    align-items: center;
}
iframe {
    width: 100%;
    height: auto;
}
.main-heading-web-service h1{
    font-size: 30px;
}
.main-btn2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2.heading-help {
    font-size: 25px;
}
form.search-form {
    display: flex;
}
.main-domain-heading h2{
    font-size: 30px;
}
img.img-domain-new{
    margin-top: 30px;
}
h2.heading-helpful{
    font-size: 25px;
}
.main-slider11 {
    display: flex;
}
section.sectdomainn3{
    padding: 0px;
}
.heading-platform h2{
    font-size: 28px;
}
.heading-platform p span{
    font-size: 17px;
}
.parent-webService h2 {
    font-size: 28px;
    line-height: 36px;
    padding: 15px 0;
}
.parent-webService p {
    padding-left: 0px;
    padding-right: 44px;
}
.parent-btn-award {
    margin-left: 0px; 
    margin-top: 25px;
    display: flex;
}
section.sectdomain10 {
     margin: 0;
     padding: 0;
}
button.btn-certifiied{
    padding: 0px;
}
.jelly-img-set22{
    padding-top: 0px;
    padding-bottom: 260px;
    margin-top: 40px;
}
.inner-promisee p {
    font-size: 24.75px;
    line-height: 33px;
}
.main-image-text {
    margin: 20px 0;
}
h3.titlee3{
    font-size: 25px;
}
h2.section-title {
    font-size: 24.75px;
    line-height: 33px;
}
.panel.panel-default{
    padding: 30px 4px;
}
.jelly-img-set{
    padding-top: 0px;
}
section.sect-awards1 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.HederTop {
    display: none;
}
.LOGO {
    width: 70% !important;
    height: auto;
    position: absolute;
    margin: -18px -22px;
}
div#navbarSupportedContent {
    margin-left: 0;
}
.btn1 {
    display: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0 !important;
}
.hding1 {
    font-size: 28px;
    line-height: 38.25px;
}
.phoneemail {
    font-size: 20px;
    line-height: 28px;
}
.btn6btn7 {
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.sectfooter {
    padding: 30px 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.hding10 {
    margin-top: 20px;
    font-size: 16px;
}
.footpara a {
    font-size: 14px;
}
.footline {
    margin: 25px 0;
}
.faviconflexexes {
    margin: 0 !important;
}
.para6 {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin: 25px 0 10px 0;
}
a.Privacy-Policy {
    color: #c3c3c3;
    font-size: 14px;
}
section.sectDomain-web1 {
    padding: 55px 0 45px 0 !important;
}
section.sectdomain4 {
    margin: 0;
}
.paintings {
    font-size: 18px;
}
.inner p {
    font-size: 20px;
}
.main-impressed-box {
    border: 3px solid #ed0000;
    padding: 30px 10px 50px 10px;
}




}







@media only screen and (min-width: 768px) and (max-width: 991px){ 

    .heading-fame h4 {
        font-size: 20px;
        font-weight: 700;
    }

    .wpb_wrapper h1 {
        font-size: 30px;
    }
    .wpb_wrapper h2 {
        font-size: 35px;
    }
    .main-heading-business h2{
        font-size: 32px;
    }
    .main-heading-business h3{
        font-size: 20px;
    }
    .main-slider {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
        gap: 45px;
    }
    .iframe-youtube {
        display: none;
    }
    .inner p {
        font-size: 16px;
    }
    h2.scrolling {
        font-size: 5vh;
    }
    iframe {
        width: 100%;
        height: 185px;
    }
    .main-heading-web-service h1{
        font-size: 29.4px;
        line-height: 38.5px;
    }
    .main-btn2{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .main-heading-web-service {
        text-align: center;
    }
    h2.heading-help{
        font-size: 28px;
    }
    .wpb_wrapper_para p span {
        font-size: 14px;
    }
    .img-globe img {
        width: 30%;
    }
    .img-globee img {
        width: 40%;
    }
    a.btn-get-started{
        padding: 12px 20px;
    }
    img.img-domain-new {
        margin-top: 92px;
    }
    .main-domain-heading p {
        font-size: 15px;
    }
    .main-domain-heading h2 {
        font-size: 30px;
    }
    a.btn-explore-hosting {
        padding: 14px 10px;
    }
    h2.heading-helpful {
        font-size: 26.4px;
        line-height: 35.2px;
    }
    .heading-platform h2{
        font-size: 26.4px;
        line-height: 35.2px;
    }
    .heading-platform p span{
        font-size: 15px;
    }
    .wpb_wrapper-para p{
        font-size: 14px;
    }
    .parent-webService h2{
        padding: 0;
        font-size: 26.4px;
        line-height: 35.2px;
    }
    .parent-webService p span{
        font-size: 15px;
    }
    .parent-webService p {
        padding-left: 0px;
        padding-right: 0px;
    }
    .parent-btn-award{
        margin-left: 0px;
        display: flex;
    }
    .jelly-img-set{
        padding-bottom: 150px;
    }
    button.btn-certifiied{
        padding: 5px 10px;
        font-size: 15px;
    }
    .inner-promisee p{
        font-size: 26.4px;
        line-height: 35.2px;
    }
    .parent-span-divv {
        padding: 0 12px;
    }
    .outer-head-img{
        padding-bottom: 0px;
    }
    .parent-span-divv1 {
        padding: 0 5px;
        margin: 50px 0 0px 0;
    }
    h3.titlee3 {
        font-size: 22px;
    }
    .excerpt{
        font-size: 15px;
    }
    .parent-span-divv2 {
        padding: 0 0px;
        margin: 50px 0 0px 0;
    }
    .anchor-parents a{
        padding: 12px 20px;
    }
    .jelly-img-set22{
        padding-bottom: 250px;
    }
    div#navbarSupportedContent {
        margin-left: 10px;
    }
    .btn1 {
        display: none;
    }
    .sectfooter {
        margin: 0 10px;
    }
    .hding1 {
        font-size: 32px;
        line-height: 44px;
    }
    .paintings {
        font-size: 18px;
    }
    .main-printmaking {
        padding: 20px 0;
    }




}